
header {
    background-color: rgb(5, 5, 5);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
body {
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
